---
import { getCollection } from 'astro:content'
import { css } from '@/styled-system/css'
import { flex } from '@/styled-system/patterns'

const allOverview = await getCollection('overview')
const allComponents = (await getCollection('components')).sort((a, b) =>
	a.id.localeCompare(b.id),
)
const sidebars = [
	{ title: 'Overview', items: [...allOverview] },
	{ title: 'Components', items: [...allComponents] },
]

const { id } = Astro.params
---

<div class={flex({ direction: 'column', gap: 2, pb: 8 })}>
	{
    sidebars.map((sidebar) => (
      <div class={flex({ direction: 'column' })}>
        <div class={css({ fontWeight: 500, py: 2 })}>{sidebar.title}</div>
        <ul
          class={flex({
            direction: 'column',
            pl: 3,
            borderLeftWidth: '1px',
            borderColor: 'gray.200',
          })}
        >
          {sidebar.items.map((item) => (
            <li
              class={css({
                bg: id === item.id ? 'blue.100' : '',
                cursor: id === item.id ? 'default' : 'cursor',
                pointerEvents: id === item.id ? 'none' : 'auto',
                px: 2,
                py: 1.5,
                fontSize: 'sm',
                rounded: 'sm',
                _hover: { bg: 'gray.50' },
              })}
            >
              <a
                class={css({ display: 'block' })}
                href={`/${sidebar.title.toLowerCase()}/${item.id}`}
              >
                {item.data.title}
                {item.data.status ? <span 
                  class={css({
                    fontSize: 'xs',
                    bg: item.data.status === 'new' ? 'green.50' : 'red.50',
                    borderWidth: 1, 
                    borderColor: item.data.status === 'new' ? 'green.300' : 'red.300', 
                    color: item.data.status === 'new' ? 'green.700' : 'red.700',
                    py: .5,
                    px: 1,
                    rounded: 'sm',
                    ml: 1,
                    textTransform: 'capitalize',
                  })}
                >
                  {item.data.status}
                </span> : ''}
              </a>
            </li>
          ))}
        </ul>
      </div>
    ))
  }
</div>
